<div className="relative">
  <input type="checkbox" id={`checkbox-${index}`} className="appearance-none w-6
  h-6 border-2 border-white rounded" checked={index === activeIndex}
  onChange={() => {}} ${ index === activeIndex ? "border-[#DBE9FF]" :
  "border-[#063172]" }`} type="checkbox" id={`checkbox-${index}`} checked={index
  === activeIndex} onChange={() => {}} /> {index === activeIndex && (
  <svg
    className="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-4 h-4 text-white pointer-events-none"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
  >
    <path
      strokeLinecap="round"
      strokeLinejoin="round"
      strokeWidth="2"
      d="M5 13l4 4L19 7"
    />
  </svg>
  )}
</div>
