@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-sans;
  }
}

body {
  background: #0a1019;
  color: #e8e8e8;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

section {
  max-width: 100%;
  margin: 3rem auto;
  padding: 0 1.5rem;
}

main {
  max-width: 100%;
}

@keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  .animate-spin-fast {
	animation: spin 1s linear infinite; /* Faster spin with 1s duration */
	will-change: transform; /* Optimizes for smoother animation */
	transform: translateZ(0); /* GPU acceleration for smoother performance */
	display: inline-block; /* Ensures proper layout */
  }